In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [157]:
df=pd.read_excel(r"C:\Users\OJ 001\Desktop\DataScience\Data Cleaning Start4.xlsx",sheet_name=1)

In [159]:
df.columns

Index(['Date', 'Client', 'Contact ', 'Department', 'Region', 'Payment',
       'Revenue', 'Profit', 'Profit Margin'],
      dtype='object')

In [161]:
#df.columns = ['Index','Date', 'Client','Contact','Department','Payment' ,'Revenue','Profit','Profit Margin']

In [163]:
print(df.head(10))

        Date                          Client         Contact   Department  \
0 2023-05-30               AMAZON.COM, INC.        Bill Smith  Cloud Tech
1 2023-05-30                    TESLA, INC.         Ken Singh    Strategy
2 2023-05-30                  NETFLIX, INC.      Harley Fritz    Strategy
3 2023-05-30   THE PROCTER & GAMBLE COMPANY        Nyla Novak  Operations
4 2023-05-30  THE GOLDMAN SACHS GROUP, INC.   David Rasmussen  Operations
5 2023-05-31           JPMORGAN CHASE & CO.        Ivan Hiney  Cloud Tech
6 2023-05-31                 MORGAN STANLEY          Jonha Ma  Cloud Tech
7 2023-05-31                 CITIGROUP INC.      Jordan Boone  Cloud Tech
8 2023-05-31    BANK OF AMERICA CORPORATION    Kylee Townsend  Cloud Tech
9 2023-05-31                   WALMART INC.      Nora Rollins  Cloud Tech

     Region   Payment  Revenue  Profit  Profit Margin
0     Texas  Transfer   4500.0     598       0.132889
1  New York    PayPal   3800.0    1045       0.275000
2  New York       NaN   3712.5    1009       0.271785
3   Florida       NaN      NaN     779            NaN
4   Florida     Check   5000.0     684       0.136800
5     Texas  Transfer   6100.0     544       0.089180
6     Texas  Transfer   4625.0     670       0.144865
7     Texas  Transfer   3800.0    2045       0.538158
8     Texas      Card   3600.0    1564       0.434444
9     Texas     Check   5100.0    1220       0.239216

In [149]:
df['Contact'] = df['Contact'].str.strip().str.title()

In [137]:
#df['Contact'].head()

In [25]:
df=df.drop_duplicates()

In [34]:
#df['Age'] = pd.to_numeric(df['Age'], errors='coerce')  # Convert to numeric
#df['Date'] = pd.to_datetime(df['Date'], errors='coerce')  # Convert to datetime
#print(df)

In [36]:
print(df.isnull().sum())

Index            29
Date              1
Client            0
Contact           0
Department        0
Payment           2
Revenue           2
Profit            0
Profit Margin     2
dtype: int64

In [192]:
#df.loc[:, ['Profit', 'Revenue']] = df[['Profit', 'Revenue']].fillna(0)
df['Revenue'] = df['Revenue'].fillna(0)
df['Profit'] = df['Profit'].fillna(0)


# Remove extra spaces in column names just in case
df.columns = df.columns.str.strip()

# Replace bad/missing values with proper NaN
df['Profit Margin'] = df['Profit Margin'].replace(['', 'NaN', 'nan', 'NAN'], np.nan)

# Fill missing values with 'N/A'
df['Profit Margin'] = df['Profit Margin'].fillna('N/A')


#print(df)

In [194]:
#df.loc[:,['Profit Margin','Revenue','Profit']] = df['Profit Margin','Revenue','Profit'].fillna(0)
df.loc[:,['Payment']] = df['Payment'].fillna('N/A')

In [213]:
df.to_excel('Data Cleaning(with pandas) Start1.xlsx', index=False)

In [1]:
import matplotlib.pyplot as plt

# Assuming your DataFrame is called df and has 'Sales Person' and 'Revenue' columns
plt.figure(figsize=(8, 5))  # Set the width and height of the figure in inches
plt.bar(df['Department'], df['Revenue'], color='skyblue')  # Create the bar chart

# Add labels and title
plt.xlabel('Department')
plt.ylabel('Revenue')
plt.title('Revenue by Department')

# Optional: rotate x-axis labels for better readability
plt.xticks(rotation=45)

plt.tight_layout()  # Adjust layout to prevent overlap
plt.show()

NameError: name 'df' is not defined