In [1]:
import pandas as pd
df=pd.read_csv(r"C:\Users\OJ 001\Downloads\health_insurance_features_engineered.csv")

In [5]:
print(df.head(5))
df.columns

  Customerid  Age  Gender   Bmi Smoker     Region  Children  Annual_Income  \
0      H0001   56    Male  27.9     No  Southwest         1          39130
1      H0002   69    Male  33.9     No  Southwest         1         119360
2      H0003   46    Male  40.6     No  Southeast         1          92287
3      H0004   32  Female  25.3     No  Northeast         0          81702
4      H0005   60    Male  25.6     No  Southeast         4          66993

   Claim_History  Annual_Premium  ... Is_Female High_claim_history_flag  \
0              3            3246  ...         0                       1
1              1            7825  ...         0                       0
2              2            9516  ...         0                       0
3              1            3416  ...         1                       0
4              2            9702  ...         0                       0

  Is_Obese Smoker_Obese  Risk_Score_raw  Risk_Score  Log_Annual_Income  \
0        0            0            0.40        0.40          10.574670
1        1            0            0.45        0.45          11.689908
2        1            0            0.25        0.25          11.432669
3        0            0            0.00        0.00          11.310846
4        0            0            0.20        0.20          11.112358

   Log_Annual_Premium  Age_by_Premium  Premium_per_Child
0            8.085487          181776             1623.0
1            8.965207          539925             3912.5
2            9.160835          437736             4758.0
3            8.136518          109312             3416.0
4            9.180190          582120             1940.4

[5 rows x 27 columns]

Index(['Customerid', 'Age', 'Gender', 'Bmi', 'Smoker', 'Region', 'Children',
       'Annual_Income', 'Claim_History', 'Annual_Premium', 'High_Cost_Claim',
       'Bmi_Category', 'Age_Group', 'Income_Bracket', 'Income_per_Child',
       'Premium_to_Income_Ratio', 'Smoker_flag', 'Is_Female',
       'High_claim_history_flag', 'Is_Obese', 'Smoker_Obese', 'Risk_Score_raw',
       'Risk_Score', 'Log_Annual_Income', 'Log_Annual_Premium',
       'Age_by_Premium', 'Premium_per_Child'],
      dtype='object')

In [19]:
print(df.query("High_Cost_Claim == 'Yes' and Gender == 'Male'"))

    Customerid  Age Gender   Bmi Smoker     Region  Children  Annual_Income  \
1        H0002   69   Male  33.9     No  Southwest         1         119360
11       H0012   28   Male  33.5    Yes  Southeast         2         118388
12       H0013   41   Male  32.1     No  Southeast         0         119156
18       H0019   19   Male  27.2    Yes  Northeast         4          56312
25       H0026   50   Male  34.4     No  Northwest         1          86597
..         ...  ...    ...   ...    ...        ...       ...            ...
975      H0976   69   Male  32.6    Yes  Northwest         0          36378
980      H0981   43   Male  29.4    Yes  Northeast         1          66931
996      H0997   64   Male  34.6     No  Northwest         4          43419
998      H0999   35   Male  25.2    Yes  Southwest         1          97600
999      H1000   55   Male  27.0    Yes  Northeast         0         106102

     Claim_History  Annual_Premium  ... Is_Female High_claim_history_flag  \
1                1            7825  ...         0                       0
11               2           10248  ...         0                       0
12               4            5962  ...         0                       1
18               1            7952  ...         0                       0
25               4            3347  ...         0                       1
..             ...             ...  ...       ...                     ...
975              3            9615  ...         0                       1
980              3           10050  ...         0                       1
996              1            9574  ...         0                       0
998              4            4138  ...         0                       1
999              4           10257  ...         0                       1

    Is_Obese Smoker_Obese  Risk_Score_raw  Risk_Score  Log_Annual_Income  \
1          1            0            0.45        0.45          11.689908
11         1            1            0.60        0.60          11.681731
12         1            0            0.45        0.45          11.688197
18         0            0            0.35        0.35          10.938681
25         1            0            0.45        0.45          11.369032
..       ...          ...             ...         ...                ...
975        1            1            1.00        1.00          10.501747
980        0            0            0.55        0.55          11.111432
996        1            0            0.45        0.45          10.678675
998        0            0            0.55        0.55          11.488643
999        0            0            0.75        0.75          11.572166

     Log_Annual_Premium  Age_by_Premium  Premium_per_Child
1              8.965207          539925             3912.5
11             9.234935          286944             3416.0
12             8.693329          244442             5962.0
18             8.981304          151088             1590.4
25             8.116118          167350             1673.5
..                  ...             ...                ...
975            9.171184          663435             9615.0
980            9.215427          432150             5025.0
996            9.166911          612736             1914.8
998            8.328209          144830             2069.0
999            9.235813          564135            10257.0

[159 rows x 27 columns]

In [20]:
counts = df[df['High_Cost_Claim'] == 'Yes']['Gender'].value_counts()
print(counts)

Gender
Male      159
Female    150
Name: count, dtype: int64

In [16]:
print(df['Gender'].unique())

['Male' 'Female']

In [21]:
print(df[df['High_Cost_Claim'] == 'Yes']['Gender'].value_counts())

Gender
Male      159
Female    150
Name: count, dtype: int64

In [18]:
pd.crosstab(df['Gender'], df['High_Cost_Claim'])

High_Cost_Claim   No  Yes
Gender
Female           326  150
Male             365  159

In [29]:
pd.crosstab(df['Gender'], df['Income_Bracket'], values=df['Age_Group'], aggfunc='count')

Income_Bracket  High  Low  Medium
Gender
Female           162  155     159
Male             171  179     174