In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [62]:
df=pd.read_excel(r"C:\Users\OJ 001\Desktop\DataScience\Data Cleaning Start4.xlsx",sheet_name='Clean Data2')
xls = pd.ExcelFile(r"C:\Users\OJ 001\Desktop\DataScience\Data Cleaning Start4.xlsx")
print(xls.sheet_names)
df.columns
df.info()

['Cover Page', 'Clean Data2', 'Clean Data', 'Raw Data']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           28 non-null     datetime64[ns]
 1   Client         28 non-null     object
 2   Contact        28 non-null     object
 3   Department     28 non-null     object
 4   Region         28 non-null     object
 5   Payment        26 non-null     object
 6   Revenue        26 non-null     float64
 7   Profit         28 non-null     int64
 8   Profit Margin  26 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 2.1+ KB

In [64]:
print(df.head(10))
print(df.tail(20))

        Date                          Client         Contact   Department  \
0 2023-05-30               AMAZON.COM, INC.        Bill Smith  Cloud Tech
1 2023-05-30                    TESLA, INC.         Ken Singh    Strategy
2 2023-05-30                  NETFLIX, INC.      Harley Fritz    Strategy
3 2023-05-30   THE PROCTER & GAMBLE COMPANY        Nyla Novak  Operations
4 2023-05-30  THE GOLDMAN SACHS GROUP, INC.   David Rasmussen  Operations
5 2023-05-31           JPMORGAN CHASE & CO.        Ivan Hiney  Cloud Tech
6 2023-05-31                 MORGAN STANLEY          Jonha Ma  Cloud Tech
7 2023-05-31                 CITIGROUP INC.      Jordan Boone  Cloud Tech
8 2023-05-31    BANK OF AMERICA CORPORATION    Kylee Townsend  Cloud Tech
9 2023-05-31                   WALMART INC.      Nora Rollins  Cloud Tech

     Region   Payment  Revenue  Profit  Profit Margin
0     Texas  Transfer   4500.0     598       0.132889
1  New York    PayPal   3800.0    1045       0.275000
2  New York       NaN   3712.5    1009       0.271785
3   Florida       NaN      NaN     779            NaN
4   Florida     Check   5000.0     684       0.136800
5     Texas  Transfer   6100.0     544       0.089180
6     Texas  Transfer   4625.0     670       0.144865
7     Texas  Transfer   3800.0    2045       0.538158
8     Texas      Card   3600.0    1564       0.434444
9     Texas     Check   5100.0    1220       0.239216
         Date                         Client         Contact   Department  \
8  2023-05-31   BANK OF AMERICA CORPORATION    Kylee Townsend  Cloud Tech
9  2023-05-31                  WALMART INC.      Nora Rollins  Cloud Tech
10 2023-05-31            TARGET CORPORATION   Brendan Wallace  Cloud Tech
11 2023-05-31  COSTCO WHOLESALE CORPORATION        Conor Wise  Operations
12 2023-05-31        MCDONALD'S CORPORATION    Steven Michael    Big Data
13 2023-06-01       EXXON MOBIL CORPORATION       Lucia Mckay    Big Data
14 2023-06-01   VERIZON COMMUNICATIONS INC.        Jose Roach    Big Data
15 2023-06-01          THE HOME DEPOT, INC.    Franklin Wrigt    Big Data
16 2023-06-01           CISCO SYSTEMS, INC.     Alia Thornton  Operations
17 2023-06-01           CHEVRON CORPORATION     Denzel Flores  Operations
18 2023-06-01                     AT&T INC.     Bruno Cordova    Big Data
19 2023-06-01             INTEL CORPORATION      Jaylynn Napp    Big Data
20 2023-06-01        GENERAL MOTORS COMPANY        Bruce Rich    Big Data
21 2023-06-02         MICROSOFT CORPORATION      Arturo Moore    Big Data
22 2023-06-02           COMCAST CORPORATION   Bryce Carpenter    Strategy
23 2023-06-02        DELL TECHNOLOGIES INC.   Jaidyn Andersen    Strategy
24 2023-06-02             JOHNSON & JOHNSON         Mark Walm    Strategy
25 2023-06-02             FEDEX CORPORATION         Harry Lee    Strategy
26 2023-06-02      GENERAL ELECTRIC COMPANY      Josh Johnson    Strategy
27 2023-06-02   LOCKHEED MARTIN CORPORATION          Mik Naam    Strategy

        Region   Payment  Revenue  Profit  Profit Margin
8        Texas      Card   3600.0    1564       0.434444
9        Texas     Check   5100.0    1220       0.239216
10       Texas     Check   4750.0    1435       0.302105
11     Florida  Transfer   6000.0     998       0.166333
12  California     Check   4500.0     780       0.173333
13  California      Card      NaN    1044            NaN
14  California  Transfer   3712.5    1222       0.329158
15  California  Transfer   4950.0    1065       0.215152
16     Florida  Transfer   4750.0     810       0.170526
17     Florida  Transfer   7320.0     933       0.127459
18  California  Transfer   5087.5     655       0.128747
19  California  Transfer   4500.0     722       0.160444
20  California      Card   4250.0     901       0.212000
21  California    PayPal   5250.0    1349       0.256952
22    New York    PayPal   6500.0    1288       0.198154
23    New York    PayPal   7500.0    1664       0.221867
24    New York  Transfer   5500.0    1320       0.240000
25    New York  Transfer   4625.0    1001       0.216432
26    New York  Transfer   4500.0     960       0.213333
27    New York      Card   5400.0     540       0.100000

In [49]:
df[['Revenue','Profit','Profit Margin']].describe()

           Revenue       Profit  Profit Margin
count    26.000000    28.000000      26.000000
mean   4974.326923  1030.178571       0.219013
std    1033.285671   363.281245       0.100781
min    3600.000000   540.000000       0.089180
25%    4500.000000   764.750000       0.148760
50%    4750.000000   999.500000       0.212667
75%    5362.500000  1238.500000       0.252714
max    7500.000000  2045.000000       0.538158