In [2]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', None],
    'Age': [25, None, 30, 22],
    'City': ['Nairobi', 'Mombasa', None, 'Kisumu']
}

df = pd.DataFrame(data)

print(df.isnull().sum())

Name    1
Age     1
City    1
dtype: int64

In [4]:
data=df['Name'].fillna('Brian')

In [6]:
print(data)

0      Alice
1        Bob
2    Charlie
3      Brian
Name: Name, dtype: object

In [8]:
data = df['Age'].fillna(df['Age'].mean())

In [10]:
print(data)

0    25.000000
1    25.666667
2    30.000000
3    22.000000
Name: Age, dtype: float64

In [12]:
data=df['City'].fillna('Eldoret')
print(data)

0    Nairobi
1    Mombasa
2    Eldoret
3     Kisumu
Name: City, dtype: object