In [64]:
import pandas as pd

# Corrected path using raw string
df = pd.read_csv("C:\\Users\\OJ 001\\Downloads\\students_scores.csv")
print('First five rows are:\n',df.head())
print('\nLast five rows are:\n:',df.tail())

# Access and print the 4th column (index 3)
column_1 = df.iloc[:, 0]
print("\nFirst Column:")
print(column_1)

First five rows are:
   StudentID  Math  English  Science
0      S001    97       66       62
1      S002    55       97       51
2      S003    62       50       92
3      S004    52       77       99
4      S005    74       94       57

Last five rows are:
:   StudentID  Math  English  Science
5      S006    66       52       91
6      S007    66       78       71
7      S008    87       68       95
8      S009    50       87       70
9      S010    84       88       76

First Column:
0    S001
1    S002
2    S003
3    S004
4    S005
5    S006
6    S007
7    S008
8    S009
9    S010
Name: StudentID, dtype: object

In [110]:
print(df.describe())

            Math    English    Science  Kiswahili    History
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean   69.300000  75.700000  76.400000  76.400000  74.000000
std    15.881855  16.499495  17.037214  19.190275  12.858201
min    50.000000  50.000000  51.000000  34.000000  50.000000
25%    56.750000  66.500000  64.000000  70.750000  66.250000
50%    66.000000  77.500000  73.500000  80.500000  76.000000
75%    81.500000  87.750000  91.750000  89.750000  83.750000
max    97.000000  97.000000  99.000000  95.000000  90.000000

In [112]:


if ('Kiswahili', 'Histroy') in df.columns:
    df.drop(columns=[('Kiswahili', 'Histroy')], inplace=True)
df['Kiswahili'] = [90, 56, 78, 95, 69, 34, 89, 76, 94, 83]
df['History'] = [70, 65, 80, 75, 60, 50, 85, 90, 88, 77]

In [108]:
print(df.to_string())
print('\nFirst Five rowns with new data:\n',df.head())

  StudentID  Math  English  Science  Kiswahili  History
0      S001    97       66       62         90       70
1      S002    55       97       51         56       65
2      S003    62       50       92         78       80
3      S004    52       77       99         95       75
4      S005    74       94       57         69       60
5      S006    66       52       91         34       50
6      S007    66       78       71         89       85
7      S008    87       68       95         76       90
8      S009    50       87       70         94       88
9      S010    84       88       76         83       77

First Five rowns with new data:
   StudentID  Math  English  Science  Kiswahili  History
0      S001    97       66       62         90       70
1      S002    55       97       51         56       65
2      S003    62       50       92         78       80
3      S004    52       77       99         95       75
4      S005    74       94       57         69       60