In [3]:
import pandas as pd
print(pd)

<module 'pandas' from 'C:\\Users\\OJ 001\\anaconda3\\Lib\\site-packages\\pandas\\__init__.py'>

In [7]:
import pandas as pd

data = pd.Series([10, 20, 30, 40])
print(data)

0    10
1    20
2    30
3    40
dtype: int64

In [9]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}

df = pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [11]:
import pandas as pd

# List of numbers
data = [10, 20, 30, 40]
series = pd.Series(data)
print("Pandas Series:\n", series)

Pandas Series:
 0    10
1    20
2    30
3    40
dtype: int64

In [27]:
import pandas as pd

s = pd.Series([100, 200, 300], index=['a', 'b', 'c'])

print("Original Series:")
print(s)

# Access value by label
print("\nValue at index 'b':", s['b'])

# Modify value
s['b'] = 250
print("\nModified Series:")
print(s)

Original Series:
a    100
b    200
c    300
dtype: int64

Value at index 'b': 200

Modified Series:
a    100
b    250
c    300
dtype: int64

In [15]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Access a column
print("\nAges:")
print(df['Age'])

# Modify the value
df.loc[1, 'Age'] = 32
print("\nDataFrame after modifying Bob's age:")
print(df)

Original DataFrame:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

Ages:
0    25
1    30
2    35
Name: Age, dtype: int64

DataFrame after modifying Bob's age:
      Name  Age
0    Alice   25
1      Bob   32
2  Charlie   35

In [17]:
df['Country'] = ['USA', 'UK', 'Canada']
print("\nDataFrame after adding a column:")
print(df)

# Delete a column
del df['Age']
print("\nDataFrame after deleting 'Age':")
print(df)

DataFrame after adding a column:
      Name  Age Country
0    Alice   25     USA
1      Bob   32      UK
2  Charlie   35  Canada

DataFrame after deleting 'Age':
      Name Country
0    Alice     USA
1      Bob      UK
2  Charlie  Canada

In [19]:
filtered_df = df[df['Country'] == 'USA']
print("\nFiltered DataFrame (Country == 'USA'):")
print(filtered_df)

Filtered DataFrame (Country == 'USA'):
    Name Country
0  Alice     USA

In [21]:
import pandas as pd

# Step 1: Create a DataFrame
data = {
    'Student': ['Alice', 'Bob', 'Charlie', 'David'],
    'Score': [85, 42, 73, 49],
    'Grade': ['A', 'F', 'B', 'F']
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Step 2: Add a 'Passed' column (True if Score >= 50)
df['Passed'] = df['Score'] >= 50

print("\nAfter adding 'Passed' column:")
print(df)

# Step 3: Remove the 'Grade' column
df.drop('Grade', axis=1, inplace=True)

print("\nAfter removing 'Grade' column:")
print(df)

# Step 4: Filter students who passed
passed_df = df[df['Passed'] == True]

print("\nStudents who passed:")
print(passed_df)

Original DataFrame:
   Student  Score Grade
0    Alice     85     A
1      Bob     42     F
2  Charlie     73     B
3    David     49     F

After adding 'Passed' column:
   Student  Score Grade  Passed
0    Alice     85     A    True
1      Bob     42     F   False
2  Charlie     73     B    True
3    David     49     F   False

After removing 'Grade' column:
   Student  Score  Passed
0    Alice     85    True
1      Bob     42   False
2  Charlie     73    True
3    David     49   False

Students who passed:
   Student  Score  Passed
0    Alice     85    True
2  Charlie     73    True