In [1]:
import pandas as pd

df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 32, 30, 40],
    'Salary': [50000, 60000, 55000, 65000]
})

# Get rows where Age > 30
result = df.query("Age > 30")
print(result)

    Name  Age  Salary
1    Bob   32   60000
3  David   40   65000